Implemented By Muhammad Hanan Asghar

In [44]:
!wget -O moviedataset.zip http://files.grouplens.org/datasets/movielens/ml-1m.zip
!unzip -o moviedataset.zip -d /content/

--2020-12-26 05:05:09--  http://files.grouplens.org/datasets/movielens/ml-1m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5917549 (5.6M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>]   5.64M  14.9MB/s    in 0.4s

2020-12-26 05:05:09 (14.9 MB/s) - ‘moviedataset.zip’ saved [5917549/5917549]

Archive:  moviedataset.zip
  inflating: /content/ml-1m/movies.dat
  inflating: /content/ml-1m/ratings.dat
  inflating: /content/ml-1m/README
  inflating: /content/ml-1m/users.dat

In [45]:
!wget -O moviedataset2.zip http://files.grouplens.org/datasets/movielens/ml-100k.zip
!unzip -o moviedataset2.zip -d /content/

--2020-12-26 05:05:09--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘moviedataset2.zip’

moviedataset2.zip   100%[===================>]   4.70M  11.9MB/s    in 0.4s

2020-12-26 05:05:10 (11.9 MB/s) - ‘moviedataset2.zip’ saved [4924029/4924029]

Archive:  moviedataset2.zip
  inflating: /content/ml-100k/allbut.pl
  inflating: /content/ml-100k/mku.sh
  inflating: /content/ml-100k/README
  inflating: /content/ml-100k/u.data
  inflating: /content/ml-100k/u.genre
  inflating: /content/ml-100k/u.info
  inflating: /content/ml-100k/u.item
  inflating: /content/ml-100k/u.occupation
  inflating: /content/ml-100k/u.user
  inflating: /content/ml-100k/u1.base
  inflating: /content/ml-100k/u1.test
  inflating: /content/ml-100k/u2.base
  inflating: /content/ml-100k/u2.test
  inflating: /content/ml-100k/u3.base
  inflating: /content/ml-100k/u3.test
  inflating: /content/ml-100k/u4.base
  inflating: /content/ml-100k/u4.test
  inflating: /content/ml-100k/u5.base
  inflating: /content/ml-100k/u5.test
  inflating: /content/ml-100k/ua.base
  inflating: /content/ml-100k/ua.test
  inflating: /content/ml-100k/ub.base
  inflating: /content/ml-100k/ub.test

In [46]:
import numpy as np
import pandas as pd

In [47]:
movies_df = pd.read_csv("/content/ml-1m/movies.dat", sep='::', engine='python', header=None)

In [48]:
movies_df.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [49]:
ratings_df = pd.read_csv("/content/ml-1m/ratings.dat", sep='::', engine='python', header=None)

In [50]:
ratings_df.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [51]:
movies_df.columns=["MovieID", "Title", "Genres"]
ratings_df.columns = ["UserID", "MovieID", "Rating", "Timestamp"]

In [52]:
movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [53]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [54]:
users_df = pd.read_csv("/content/ml-1m/users.dat", sep='::', engine='python', header=None)

In [55]:
users_df.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [56]:
users_df.columns = ["UserID", "Gender", "Age", "Occupation"," Zip Code"]

In [57]:
users_df.head()

   UserID Gender  Age  Occupation  Zip Code
0       1      F    1          10     48067
1       2      M   56          16     70072
2       3      M   25          15     55117
3       4      M   45           7     02460
4       5      M   25          20     55455

In [58]:
training_set = pd.read_csv('ml-100k/u1.base', delimiter='\t')
training_set = np.array(training_set, dtype='int')

In [59]:
test_set = pd.read_csv('ml-100k/u1.test', delimiter='\t')
test_set = np.array(test_set, dtype='int')

In [60]:
nb_users = int(max(max(training_set[:,0]), max(test_set[:, 0])))

In [61]:
nb_users

943

In [62]:
nb_movies = int(max(max(training_set[:,1]), max(test_set[:, 1])))

In [63]:
nb_movies

1682

Basically the training and testing dataset is ratings Dataframe.

In [70]:
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:,1][data[:,0] == id_users]
    id_ratings = data[:,2][data[:,0] == id_users]
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data

In [71]:
training_cleaned = convert(training_set)

In [72]:
testing_cleaned = convert(test_set)

**RBM Implementation**

It is necessary for RBM to make users in row and movies in column.

In [80]:
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [78]:
training_cleaned = torch.FloatTensor(training_cleaned)

In [79]:
testing_cleaned = torch.FloatTensor(testing_cleaned)

In [81]:
# I am creatind here recomendation based on likes given by users to the particular movie.
# I make 1 if likes > 3
# Make 0 if Likes is 0 > likes < 3
# Make -1 if likes == -1
training_cleaned[training_cleaned == 0] = -1
training_cleaned[training_cleaned == 1] = 0
training_cleaned[training_cleaned == 2] = 0
training_cleaned[training_cleaned >= 3] = 1
testing_cleaned[testing_cleaned == 0] = -1
testing_cleaned[testing_cleaned == 1] = 0
testing_cleaned[testing_cleaned == 2] = 0
testing_cleaned[testing_cleaned >= 3] = 1

In [82]:
class RBM:
  def __init__(self, nv, nh):
    # W = weight
    # a = Hidden Nodes
    # b = No of Visible Nodes
    self.W = torch.randn(nh, nv)   #100*1682                 
    self.a = torch.randn(1, nh)    #1*100                       
    self.b = torch.randn(1, nv)    #1*1682 
  # These Two Functions Performs Gibbs Sampling and Contrastive Divergence
  def sample_h(self, x):                                     
    wx = torch.mm(x, self.W.t())    #100*1682 * 1682*100 = 100*100
    activation = wx + self.a.expand_as(wx)                  
    p_h_given_v = torch.sigmoid(activation)     #100*100
    return p_h_given_v, torch.bernoulli(p_h_given_v)
  def sample_v(self, y):                                      
    wy = torch.mm(y, self.W)    #100*100 * 100*1682 = 100*1682
    activation = wy + self.b.expand_as(wy)                  
    p_v_given_h = torch.sigmoid(activation)     #100*1682
    return p_v_given_h, torch.bernoulli(p_v_given_h)
  def train(self, v0, vk, ph0, phk):                         
    self.W += (torch.mm(v0.t(), ph0)- torch.mm(vk.t(), phk)).t()    #100*1682 #!= 1682*100 * 100*100 - 1682*100 * 100*100 = 1682*100
    self.b += torch.sum((v0-vk), 0)                            
    self.a += torch.sum((ph0-phk), 0)

In [84]:
nv = len(training_cleaned[0]) # No of Visible Node
nh = 100 # No of Hidden Nodes
batch_size = 100 # Batch Size
rbm = RBM(nv, nh)  
print(rbm.W.size())

torch.Size([100, 1682])

In [87]:
# Training the RBM
nb_epoch = 15
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(0, nb_users - batch_size, batch_size):
        vk = training_cleaned[id_user:id_user + batch_size]
        v0 = training_cleaned[id_user:id_user + batch_size]
        ph0, _ = rbm.sample_h(v0)
        for k in range(10):
            _, hk = rbm.sample_h(vk)
            _, vk = rbm.sample_v(hk)
            vk[v0 < 0] = v0[v0 < 0]
        phk, _ = rbm.sample_h(vk)
        rbm.train(v0, vk, ph0, phk)
        train_loss += torch.mean(torch.abs(v0[v0 >= 0] - vk[v0 >= 0]))
        s += 1.
    print('epoch: ' + str(epoch) + ' loss: ' + str(train_loss / s))

epoch: 1 loss: tensor(0.2479)
epoch: 2 loss: tensor(0.2468)
epoch: 3 loss: tensor(0.2460)
epoch: 4 loss: tensor(0.2442)
epoch: 5 loss: tensor(0.2459)
epoch: 6 loss: tensor(0.2480)
epoch: 7 loss: tensor(0.2434)
epoch: 8 loss: tensor(0.2454)
epoch: 9 loss: tensor(0.2472)
epoch: 10 loss: tensor(0.2451)
epoch: 11 loss: tensor(0.2477)
epoch: 12 loss: tensor(0.2450)
epoch: 13 loss: tensor(0.2449)
epoch: 14 loss: tensor(0.2482)
epoch: 15 loss: tensor(0.2448)

In [89]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    v = training_cleaned[id_user:id_user+1]
    vt = testing_cleaned[id_user:id_user+1]
    if len(vt[vt>=0]) > 0:
        _,h = rbm.sample_h(v)
        _,v = rbm.sample_v(h)
        test_loss += torch.mean(torch.abs(vt[vt>=0] - v[vt>=0]))
        s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.2499)